.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 183, 149);
  padding: 1rem 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.title {
  font-size: 2em;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color: white;
}
